<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TestsSelector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestsSelector.Properties.Settings>
            <setting name="TC_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Parents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Children" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Iterations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarkEdited" serializeAs="String">
                <value>False</value>
            </setting>
        </TestsSelector.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
